#homepage {
  background-color: var(--color-grayscale-400);
  height: 100vh;
}

#homepage-body {
  display: flex;
  justify-content: start;
}

#homepage-text {
  margin-top: var(--margin-top-homepage-body);
  padding: 60px;
}

#homepage-text-header {
  display: flex;
  gap: 20px
}

#homepage-text-logo {
  font-family: 'Hind Madurai', sans-serif;
  font-weight: 600;
  letter-spacing: 8px;
}

.homepage-text-tagline {
  font-family: 'Lora';
  font-size: 300%;
  font-weight: 600;
  letter-spacing: 12px;
}

#homepage-logo {
  height: min-content;
  width: min-content;
  line-height: 100%;
  padding: 20px 30px;
  font-size: 180px;
  background-color: var(--color-grayscale-500);
  border-radius: 20px;
}

#journal-container {
  margin-top: var(--margin-top-homepage-body);
  position: relative;
}

#journal-outline {
  position: absolute;
  height: 400px;
  width: 600px;

  /* left: -140px; */
  border: 2px solid var(--color-brand-400);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* transform: rotate(-30deg); */
}

#homepage-text-buttons {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  gap: 20px;
  button {
    padding: 10px 20px;
    font-size: 200%;
  }
  button.button-login {
    color: var(--color-grayscale-100);
    border: 2px solid var(--color-grayscale-100);
    background-color: transparent;
  }
  button.button-login:hover {
    background-color: var(--color-grayscale-200);
    color: var(--color-grayscale-400);
  }
  button.button-signup {
    color: var(--color-grayscale-400);
    background-color:  var(--color-brand-400);
  }
  button.button-signup:hover {
    color: var(--color-grayscale-300);
    background-color:  var(--color-brand-500);
  }
}

.journal-pages {
  height: 98%;
  width: 49%;
  background-color: var(--color-grayscale-200);
  border-radius: 20px;
  padding: 20px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

}

.journal-pages-left {
  border-right: 2px solid var(--color-grayscale-500);
}

.journal-pages-right {
  border-left: 2px solid var(--color-grayscale-500);
}

.journal-line {
  height: 1px;
  width: 100%;
  background-color: var(--color-grayscale-500);
  margin: 10px 0;
}