

.container {
  padding: var(--padding-container);
}

.flex-row {
  display: flex;
}

body {
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-style: normal;
	text-decoration: none;
	text-transform: none;
}

h1 {
  font-size: 2rem;
  line-height: 60px;
}

h2 {
  font-size: 1.5rem;
  line-height: 47px;
}

h3 {
  font-size: 1.25rem;
  line-height: 37px;
}

h4 {
  font-size: 1rem;
  line-height: 30px;
}

h5 {
  font-size: 0.75rem;
  line-height: 24px;
}

h6 {
  font-size: 0.6rem;
  line-height: 19px;
	font-weight: 600;
}

p {
  font-size: 14px;
	/* font-family: 'Playpen Sans'; */
	font-weight: 400;
	font-style: normal;
	line-height: 150%;
  color: var(--color-grayscale-100);
}

button {
  background-color: var(--color-brand-400);
  color: var(--color-grayscale-300);
  padding: var(--padding-button-y) var(--padding-button-x);
  border-radius: 0.5rem;
  font-size: large;
  font-weight: 500;
}

#dashboard-header {
  height: var(--height-dashboard-header);
  position: sticky;
  top: 0;
  background-color: var(--color-grayscale-400);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#sidebar {
  width: var(--width-sidebar);
  height: calc(100vh - var(--height-dashboard-header));
  overflow: hidden;
}

#panel-dashboard {
  width: 100%;
}

#entries-panel {
  height: calc(100vh - var(--height-dashboard-header));
  overflow: auto;
  padding: var(--padding-general);
  display: flex;
  flex-direction: column;
  gap: var(--padding-general);
  h2, .entry-preview {
    border-bottom: 1px solid var(--color-grayscale-200);
  }
}

.entry {
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Lora', sans-serif;
  }
}

.entry-preview {
  padding: calc(var(--padding-container) / 2) 0;
  cursor: pointer;
}

.entry-preview:hover {
  .entry-preview-body {
    display: block;
  }
}

.entry-preview-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h3 {
    flex: 6;
  }
  h4 {
    flex: 1;
    color: var(--color-grayscale-200);
  }
}

.entry-preview-body {
  display: none;
  background-color: var(--color-grayscale-400);
  padding: var(--padding-text-y) var(--padding-text-x);
}

.panel-header {
  display: flex;
  flex-direction: column;
}

.panel-title {
  display: flex;
  justify-content: center;
}

.new-entry-panel {
  display: flex;
  justify-content: space-evenly;
}

.triggering-question {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-entry-form {
  height: 4rem;
  flex: 1;
  width: auto;
  display: flex;
  align-items: center;
  background-color: var(--color-grayscale-400);
  border: 1px solid var(--color-information-500);
  border-radius: 1000000px;
  cursor: pointer;
  padding-left: 40px;
  h3 {
    color: var(--color-information-200);
    font-style: italic;
  }
}

.new-entry-form:hover {
  background-color: var(--color-grayscale-300);
  border-width: 2px;
  padding-left: 39px;
}

.entry-form-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--color-transparency-500);
}

.entry-form {
  position: relative;
  top: 50%;
  left: 50%;
  height: 90vh;
  width: 60vw;
  transform: translate(-50%, -50%);
  opacity: 1;
  background-color: var(--color-grayscale-400);
  border: 1px solid var(--color-grayscale-300);
  border-radius:var(--radius-entry-form);
  padding: var(--padding-entry-form);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--padding-general);
  z-index: 1;
}

.entry-form > div {
  width: 100%;
}

.entry-form-header {
  display: flex;
  flex-direction: column;
  gap: var(--padding-general);
}

.entry-form-date {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: var(--padding-general);
}

.entry-form-body {
  height:100%;
  display: flex;
  flex-direction: column;
  gap: var(--padding-general);
}

.entry-form-aspects {
  flex-grow: 1;
  display: flex;
}

.entry-form textarea {
  flex-grow: 2;
  width: 100%;
  font-family: 'Hind Madurai', sans-serif;
  font-size: medium;
  color: var(--color-grayscale-100);
  background-color: var(--color-grayscale-500);
  padding: var(--padding-text-y) var(--padding-text-x);
  border: none;
  outline: none;
}

.entry-form-title {
  display: flex;
  align-items: center;
  gap: var(--padding-general)
}

.entry-form-date > h4 {
  color: var(--color-grayscale-200)
}

.entry-form-footer {
  display: flex;
  justify-content: space-between;
  .button-cancel {
    background-color: var(--color-grayscale-200);

  }
}

.aspects-container {
  flex-grow: 2;

}

.dropdown-categories {
  flex-grow: 1;
  position: relative;
  display: inline-block;
}

.dropdown-categories-content {
  position: absolute;
  background-color: var(--color-grayscale-300);
  overflow: auto;
  z-index: 1;
}





