

.container {
  padding: var(--padding-container);
}

.flex-row {
  display: flex;
}

body {
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-style: normal;
	text-decoration: none;
	text-transform: none;
}

h1 {
  font-size: 2rem;
  line-height: 60px;
}

h2 {
  font-size: 1.5rem;
  line-height: 47px;
}

h3 {
  font-size: 1.25rem;
  line-height: 37px;
}

h4 {
  font-size: 1rem;
  line-height: 30px;
}

h5 {
  font-size: 0.75rem;
  line-height: 24px;
}

h6 {
  font-size: 0.6rem;
  line-height: 19px;
	font-weight: 600;
}

p {
  font-size: 14px;
	font-weight: 400;
	font-style: normal;
	line-height: 150%;
  color: var(--color-grayscale-100);
}

button {
  background-color: var(--color-brand-400);
  color: var(--color-grayscale-300);
  padding: var(--padding-button-y) var(--padding-button-x);
  border-radius: 0.5rem;
  font-size: large;
  font-weight: 500;
}


