

.container {
  padding: var(--padding-container);
}

.flex-row {
  display: flex;
}

body {
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-style: normal;
	text-decoration: none;
	text-transform: none;
}

h1 {
  font-size: 2rem;
  line-height: 60px;
}

h2 {
  font-size: 1.5rem;
  line-height: 47px;
}

h3 {
  font-size: 1.25rem;
  line-height: 37px;
}

h4 {
  font-size: 1rem;
  line-height: 30px;
}

h5 {
  font-size: 0.75rem;
  line-height: 24px;
}

h6 {
  font-size: 0.6rem;
  line-height: 19px;
	font-weight: 600;
}

p {
  font-size: 14px;
	/* font-family: 'Playpen Sans'; */
	font-weight: 400;
	font-style: normal;
	line-height: 150%;
  color: var(--color-grayscale-100);
}

button {
  background-color: var(--color-brand-400);
  color: var(--color-grayscale-300);
  padding: var(--padding-button-y) var(--padding-button-x);
  border-radius: 0.5rem;
  font-size: large;
  font-weight: 500;
}

#homepage {
  background-color: var(--color-grayscale-400);
  height: 100vh;
}

#homepage-body {
  display: flex;
  justify-content: start;
}

#homepage-text {
  margin-top: var(--margin-top-homepage-body);
  padding: 60px;
}

#homepage-text-header {
  display: flex;
  gap: 20px
}

#homepage-text-logo {
  font-family: 'Hind Madurai', sans-serif;
  font-weight: 600;
  letter-spacing: 8px;
}

.homepage-text-tagline {
  font-family: 'Lora';
  font-size: 300%;
  font-weight: 600;
  letter-spacing: 12px;
}

#homepage-logo {
  height: min-content;
  width: min-content;
  line-height: 100%;
  padding: 20px 30px;
  font-size: 180px;
  background-color: var(--color-grayscale-500);
  border-radius: 20px;
}

#journal-container {
  margin-top: var(--margin-top-homepage-body);
  position: relative;
}

#journal-outline {
  position: absolute;
  height: 400px;
  width: 600px;
  top: 80px;
  left: -140px;
  border: 3px solid var(--color-brand-500);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-30deg);
}

.journal-pages {
  height: 98%;
  width: 49%;
  background-color: var(--color-brand-200);
  border-radius: 20px;
  padding: 20px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  button {
    font-size: 300%;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

.journal-pages-left {
  border-right: 2px solid var(--color-grayscale-500);
  button {
    border: 4px solid var(--color-grayscale-400);
    background-color: transparent;
  }
}

.journal-pages-right {
  border-left: 2px solid var(--color-grayscale-500);
  button {
    color: var(--color-brand-200);
    background-color:  var(--color-grayscale-400);
  }
}

.journal-line {
  height: 1px;
  width: 100%;
  background-color: var(--color-grayscale-500);
  margin: 10px 0;
}

#dashboard-header {
  height: var(--height-dashboard-header);
  position: sticky;
  top: 0;
  background-color: var(--color-grayscale-400);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#sidebar {
  width: var(--width-sidebar);
  height: calc(100vh - var(--height-dashboard-header));
  overflow: hidden;
}

#panel-dashboard {
  width: 100%;
}

#entries-panel {
  height: calc(100vh - var(--height-dashboard-header));
  overflow: auto;
  padding: var(--padding-general);
  display: flex;
  flex-direction: column;
  gap: var(--padding-general);
  h2, .entry-preview {
    border-bottom: 1px solid var(--color-grayscale-200);
  }
}

.entry {
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Lora', sans-serif;
  }
}

.entry-preview {
  padding: calc(var(--padding-container) / 2) 0;
}

.entry-preview:hover {
  .entry-preview-body {
    display: block;
  }
}

.entry-preview-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h3 {
    flex: 6;
  }
  h4 {
    flex: 1;
    color: var(--color-grayscale-200);
  }
}

.entry-preview-header-data {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.entry-preview-body {
  display: none;
  background-color: var(--color-grayscale-400);
  padding: var(--padding-text-y) var(--padding-text-x);
}

.panel-header {
  display: flex;
  flex-direction: column;
}

.panel-title {
  display: flex;
  justify-content: center;
}

.new-entry-panel {
  display: flex;
  justify-content: space-evenly;
}

.triggering-question {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-entry-form {
  height: 4rem;
  flex: 1;
  width: auto;
  display: flex;
  align-items: center;
  background-color: var(--color-grayscale-400);
  border: 1px solid var(--color-information-500);
  border-radius: 1000000px;
  cursor: pointer;
  padding-left: 40px;
  h3 {
    color: var(--color-information-200);
    font-style: italic;
  }
}

.new-entry-form:hover {
  background-color: var(--color-grayscale-300);
  border-width: 2px;
  padding-left: 39px;
}

.entry-form-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--color-transparency-500);
}

.entry-form {
  position: relative;
  top: 50%;
  left: 50%;
  height: 90vh;
  width: 60vw;
  transform: translate(-50%, -50%);
  opacity: 1;
  background-color: var(--color-grayscale-400);
  border: 1px solid var(--color-grayscale-300);
  border-radius:var(--radius-entry-form);
  padding: var(--padding-entry-form);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--padding-general);
  z-index: 1;
}

.entry-form > div {
  width: 100%;
}

.entry-form-header {
  display: flex;
  flex-direction: column;
  gap: var(--padding-general);
}

.entry-form-date {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: var(--padding-general);
}

.entry-form-body {
  height:100%;
  display: flex;
  flex-direction: column;
  gap: var(--padding-general);
}

.entry-form-aspects {
  flex-grow: 1;
  display: flex;
}

.entry-form textarea {
  flex-grow: 2;
  width: 100%;
  font-family: 'Hind Madurai', sans-serif;
  font-size: medium;
  color: var(--color-grayscale-100);
  background-color: var(--color-grayscale-500);
  padding: var(--padding-text-y) var(--padding-text-x);
  border: none;
  outline: none;
}

.entry-form-title {
  display: flex;
  align-items: center;
  gap: var(--padding-general)
}

.entry-form-date > h4 {
  color: var(--color-grayscale-200)
}

.entry-form-footer {
  display: flex;
  justify-content: space-between;
  .button-cancel {
    background-color: var(--color-grayscale-200);
color: var(--color-grayscale-500)
  }
}

.aspects-container {
  flex-grow: 2;

}

.dropdown-categories {
  flex-grow: 1;
  position: relative;
  display: inline-block;
}

.dropdown-categories-content {
  position: absolute;
  background-color: var(--color-grayscale-300);
  overflow: auto;
  z-index: 1;
}

.ReactTags__tags {
width: 100%;
}

.ReactTags__tagInput {
  width: 100%;
  input{
    width: 100%;
    font-size: medium;
  }
}

.ReactTags__selected {
  margin-top: var(--padding-general);
  button {
    border-radius: 2px;
    background-color: var(--color-information-300);
    padding: 1px 4px;
    margin: 0 10px 0 5px;
  }
}


.signup-login {
text-align: center;
display: flex;
justify-content: center;

  form {
    margin-top: 60px;
    width: 40vw;
    min-width: 480px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 40px 40px 30px 40px;
    /* background-color: var(--color-information-400); */
    border-radius: 16px;
    border: 1px solid var(--color-brand-500);
  }
  input {
    color: var(--color-grayscale-100);
    padding: 10px 20px;
    background-color: var(--color-grayscale-400);
    border-radius: 1000000px;
  }
  label {
    color: var(--color-information-100);
  }
}

button.cancel{
  background-color: transparent;
  color: var(--color-information-100);
  border: 1px solid var(--color-information-500);
}

.signup-login-input {
  display: flex;
  flex-direction: column;
}






